<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>but</th>
      <th>passe</th>
      <th>total</th>
    </tr>
    <tr>
      <th>pooler</th>
      <th>nom</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="15" valign="top">Will</th>
      <th>Brayden Point</th>
      <td>8</td>
      <td>15</td>
      <td>23</td>
    </tr>
    <tr>
      <th>Mikko Rantanen</th>
      <td>7</td>
      <td>14</td>
      <td>21</td>
    </tr>
    <tr>
      <th>Gabriel Landeskog</th>
      <td>2</td>
      <td>11</td>
      <td>13</td>
    </tr>
    <tr>
      <th>Alex Tuch</th>
      <td>8</td>
      <td>2</td>
      <td>10</td>
    </tr>
    <tr>
      <th>Pierre-Luc Dubois</th>
      <td>4</td>
      <td>6</td>
      <td>10</td>
    </tr>
    <tr>
      <th>Cam Atkinson</th>
      <td>3</td>
      <td>5</td>
      <td>8</td>
    </tr>
    <tr>
      <th>Dominik Kubalík</th>
      <td>4</td>
      <td>4</td>
      <td>8</td>
    </tr>
    <tr>
      <th>Nick Suzuki</th>
      <td>4</td>
      <td>3</td>
      <td>7</td>
    </tr>
    <tr>
      <th>Derek Stepan</th>
      <td>1</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>Teuvo Teravainen</th>
      <td>3</td>
      <td>2</td>
      <td>5</td>
    </tr>
    <tr>
      <th>Noah Hanifin</th>
      <td>0</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Jeff Petry</th>
      <td>2</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Radko Gudas</th>
      <td>0</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Nicklas Backstrom</th>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Vladimir Tarasenko</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th rowspan="15" valign="top">Stef</th>
      <th>Nikita Kucherov</th>
      <td>5</td>
      <td>16</td>
      <td>21</td>
    </tr>
    <tr>
      <th>Ondrej Palat</th>
      <td>6</td>
      <td>4</td>
      <td>10</td>
    </tr>
    <tr>
      <th>Patrick Kane</th>
      <td>2</td>
      <td>7</td>
      <td>9</td>
    </tr>
    <tr>
      <th>Yanni Gourde</th>
      <td>5</td>
      <td>4</td>
      <td>9</td>
    </tr>
    <tr>
      <th>Sean Monahan</th>
      <td>2</td>
      <td>6</td>
      <td>8</td>
    </tr>
    <tr>
      <th>Alex Killorn</th>
      <td>4</td>
      <td>3</td>
      <td>7</td>
    </tr>
    <tr>
      <th>Johnny Gaudreau</th>
      <td>4</td>
      <td>3</td>
      <td>7</td>
    </tr>
    <tr>
      <th>Alex DeBrincat</th>
      <td>2</td>
      <td>4</td>
      <td>6</td>
    </tr>
    <tr>
      <th>Elias Lindholm</th>
      <td>2</td>
      <td>4</td>
      <td>6</td>
    </tr>
    <tr>
      <th>Mikael Backlund</th>
      <td>4</td>
      <td>2</td>
      <td>6</td>
    </tr>
    <tr>
      <th>Brayden Schenn</th>
      <td>2</td>
      <td>3</td>
      <td>5</td>
    </tr>
    <tr>
      <th>Shea Weber</th>
      <td>3</td>
      <td>2</td>
      <td>5</td>
    </tr>
    <tr>
      <th>Matthew Tkachuk</th>
      <td>1</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Tomas Tatar</th>
      <td>2</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Steven Stamkos</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th rowspan="15" valign="top">Leo</th>
      <th>Shea Theodore</th>
      <td>6</td>
      <td>11</td>
      <td>17</td>
    </tr>
    <tr>
      <th>Mark Stone</th>
      <td>6</td>
      <td>9</td>
      <td>15</td>
    </tr>
    <tr>
      <th>Kevin Hayes</th>
      <td>4</td>
      <td>9</td>
      <td>13</td>
    </tr>
    <tr>
      <th>Anthony Beauvillier</th>
      <td>8</td>
      <td>4</td>
      <td>12</td>
    </tr>
    <tr>
      <th>Sebastian Aho</th>
      <td>3</td>
      <td>9</td>
      <td>12</td>
    </tr>
    <tr>
      <th>Jonathan Toews</th>
      <td>5</td>
      <td>4</td>
      <td>9</td>
    </tr>
    <tr>
      <th>Scott Laughton</th>
      <td>5</td>
      <td>4</td>
      <td>9</td>
    </tr>
    <tr>
      <th>Max Pacioretty</th>
      <td>5</td>
      <td>3</td>
      <td>8</td>
    </tr>
    <tr>
      <th>Travis Konecny</th>
      <td>0</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>Tyler Seguin</th>
      <td>2</td>
      <td>5</td>
      <td>7</td>
    </tr>
    <tr>
      <th>Charlie Coyle</th>
      <td>3</td>
      <td>2</td>
      <td>5</td>
    </tr>
    <tr>
      <th>Dillon Dube</th>
      <td>4</td>
      <td>1</td>
      <td>5</td>
    </tr>
    <tr>
      <th>Joel Farabee</th>
      <td>3</td>
      <td>2</td>
      <td>5</td>
    </tr>
    <tr>
      <th>Artturi Lehkonen</th>
      <td>1</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Ryan Reaves</th>
      <td>0</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th rowspan="15" valign="top">Ian</th>
      <th>Elias Pettersson</th>
      <td>7</td>
      <td>11</td>
      <td>18</td>
    </tr>
    <tr>
      <th>J.T. Miller</th>
      <td>6</td>
      <td>12</td>
      <td>18</td>
    </tr>
    <tr>
      <th>Ryan O'Reilly</th>
      <td>4</td>
      <td>7</td>
      <td>11</td>
    </tr>
    <tr>
      <th>David Pastrnak</th>
      <td>3</td>
      <td>7</td>
      <td>10</td>
    </tr>
    <tr>
      <th>Jakub Voracek</th>
      <td>4</td>
      <td>5</td>
      <td>9</td>
    </tr>
    <tr>
      <th>Jean-Gabriel Pageau</th>
      <td>7</td>
      <td>2</td>
      <td>9</td>
    </tr>
    <tr>
      <th>Sean Couturier</th>
      <td>2</td>
      <td>7</td>
      <td>9</td>
    </tr>
    <tr>
      <th>Claude Giroux</th>
      <td>1</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>Ivan Provorov</th>
      <td>3</td>
      <td>5</td>
      <td>8</td>
    </tr>
    <tr>
      <th>Kirby Dach</th>
      <td>1</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>Mikhail Sergachev</th>
      <td>1</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>Brendan Gallagher</th>
      <td>1</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Jaden Schwartz</th>
      <td>4</td>
      <td>0</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Mark Giordano</th>
      <td>0</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>T.J. Oshie</th>
      <td>3</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th rowspan="15" valign="top">Fred</th>
      <th>Nathan MacKinnon</th>
      <td>9</td>
      <td>16</td>
      <td>25</td>
    </tr>
    <tr>
      <th>Miro Heiskanen</th>
      <td>5</td>
      <td>16</td>
      <td>21</td>
    </tr>
    <tr>
      <th>Nazem Kadri</th>
      <td>9</td>
      <td>9</td>
      <td>18</td>
    </tr>
    <tr>
      <th>Andre Burakovsky</th>
      <td>7</td>
      <td>10</td>
      <td>17</td>
    </tr>
    <tr>
      <th>Quinn Hughes</th>
      <td>2</td>
      <td>14</td>
      <td>16</td>
    </tr>
    <tr>
      <th>Cale Makar</th>
      <td>4</td>
      <td>11</td>
      <td>15</td>
    </tr>
    <tr>
      <th>Mathew Barzal</th>
      <td>5</td>
      <td>9</td>
      <td>14</td>
    </tr>
    <tr>
      <th>Jordan Eberle</th>
      <td>4</td>
      <td>9</td>
      <td>13</td>
    </tr>
    <tr>
      <th>Bo Horvat</th>
      <td>10</td>
      <td>2</td>
      <td>12</td>
    </tr>
    <tr>
      <th>Brock Boeser</th>
      <td>4</td>
      <td>7</td>
      <td>11</td>
    </tr>
    <tr>
      <th>Ryan Pulock</th>
      <td>1</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>Andrei Svechnikov</th>
      <td>4</td>
      <td>3</td>
      <td>7</td>
    </tr>
    <tr>
      <th>Milan Lucic</th>
      <td>1</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>Tyler Johnson</th>
      <td>3</td>
      <td>3</td>
      <td>6</td>
    </tr>
    <tr>
      <th>Jesperi Kotkaniemi</th>
      <td>4</td>
      <td>0</td>
      <td>4</td>
    </tr>
    <tr>
      <th rowspan="15" valign="top">Ben</th>
      <th>Reilly Smith</th>
      <td>4</td>
      <td>9</td>
      <td>13</td>
    </tr>
    <tr>
      <th>Brad Marchand</th>
      <td>7</td>
      <td>5</td>
      <td>12</td>
    </tr>
    <tr>
      <th>David Krejci</th>
      <td>4</td>
      <td>8</td>
      <td>12</td>
    </tr>
    <tr>
      <th>Victor Hedman</th>
      <td>6</td>
      <td>6</td>
      <td>12</td>
    </tr>
    <tr>
      <th>David Perron</th>
      <td>4</td>
      <td>5</td>
      <td>9</td>
    </tr>
    <tr>
      <th>Jonathan Marchessault</th>
      <td>3</td>
      <td>6</td>
      <td>9</td>
    </tr>
    <tr>
      <th>William Karlsson</th>
      <td>4</td>
      <td>5</td>
      <td>9</td>
    </tr>
    <tr>
      <th>Patrice Bergeron</th>
      <td>2</td>
      <td>6</td>
      <td>8</td>
    </tr>
    <tr>
      <th>Alec Martinez</th>
      <td>1</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>John Carlson</th>
      <td>0</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>Torey Krug</th>
      <td>0</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>Alex Ovechkin</th>
      <td>4</td>
      <td>1</td>
      <td>5</td>
    </tr>
    <tr>
      <th>Anthony Cirelli</th>
      <td>2</td>
      <td>3</td>
      <td>5</td>
    </tr>
    <tr>
      <th>Charlie McAvoy</th>
      <td>1</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Jake Debrusk</th>
      <td>4</td>
      <td>0</td>
      <td>4</td>
    </tr>
  </tbody>
</table>